body{
	background-color: white;
}

a:visited,a:link{
	color: #000000;
}
a:active, a:hover{
	color: #ff502b;
}

#headimage{
    position: relative;
    left: -20px;
}

#outerbody{
	width: 70%;
	min-width: 780px;
	margin: auto;
	padding-top:20px;
}

#menu{
	font-size: 17px;
	font-family: "Arial";
	list-style: none;
	margin-bottom: -2px; 
}

#menu li { 
	display: inline-block;
	width: 85px;
}

#menu li a {
	text-decoration:none; 
}

p.headname{
	font-size: 40px;
	font-family: "Arial";
	text-align: center;
}

#selfintro{
	width: 60%;
	margin: 10px auto ;
}

#selfintro a{
	margin: auto 20px;
}

p.headinfo{
	padding-right: 10px;
	padding-top: 0;
	font-size: 15px;
	font-family: "Arial";
	color: grey;
}

#gamespan{
	width: 100%;
	min-height:200px;
	margin-top: 30px;
	margin-bottom: 15px;
}

#gamespan a{
	width: 300px;
	height: 240px;
	display: inline-block;
	text-decoration:none; 
	text-align: center;
	position: relative;
	overflow: hidden;
}

#gamespan a img{
	width: 100%;
	height: 100%;
    border-radius:10px;
}

div.itemlabel {
	z-index: 99;
	width:100%;
	position: absolute;
	bottom: 0;
	background: rgba(0, 0, 0, 0.7);
	padding: 4px 0;
	opacity: 0.6;
}

div.itemlabel p{
	color: white;
	margin: auto;
	line-height: 20px;
	font-family: "Lucida Console";
}

div.itemlabel p:first-child {
	font-size: 120%;
}

.title {
	text-align: center;
	margin: 40px auto;
	font-size: 40px;
	font-family: "Arial";
	color: #000000;
}

div.text {
	max-width: 700px;
	margin: 40px auto;
}

footer{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	text-align: center;
}

div.slider {
	width: 75%;
	height: auto;
	margin:30px auto 50px;
}

div.slider img {
	width: 100%;
	height: auto;
}

#profile {
    width: 85%;
    margin: auto;
    height: auto;
	overflow:hidden;
}

div.profiletext{
    margin: 0px;
    width: 70%;
    display: inline-block;
}

div.profiletext p {
}

div.profiletext h3{
    text-align: center;
    font-weight:bold;
    font-family: "Lucida Console";
}

#profile img {
    width: 30%;
    height: auto;
    float: right;
    border-radius:7px;
	margin-top: 20px;
}