body{
	background-color: #FFFFFF;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 25px;
}
#divline{
	width: 100%;
	height: 1px;
	background-color: #000000;
	margin: 0px;
}

#outerbody{
	width: 70%;
	height: 100%;
	text-align: center;
	margin: auto;
	z-index: 20;
}
#headspan{
	width: 100%;
	height:auto!important;
	height: 200px;
	text-align: center;
	min-height:30px;
	margin-top: 0px;
	margin-bottom: 8px;
	word-wrap:break-word; overflow:hidden;
}
ul.headitem{
	float: none;
	list-style: none;
	margin: 0;
	padding: 0px;
	width: 100%;
	height: auto;
	position: relative;
	vertical-align: middle;
	text-align: center;
	left: auto;
	top: auto;
	right: auto;
	bottom: auto;
}
ul.headitem li{
	margin: 0;
	padding: 2px;
	float: left;
	position: relative;
	width: 85px;
	height: 30px;
	vertical-align: middle;
}
p.headbutton{
	font-size: 17px;
	font-family: "Arial";
	font-weight: 100;
	color: #000000;
}
#headimage{
	width: 100%;
	height: 345px;
	text-align: center;
	max-width: 970px;
}

#header{
	/*-webkit-border-radius: 11px;
  	-moz-border-radius: 11;
 	border-radius: 5px;
  	border: solid black 2px;*/
	width: 100%;
	height: 250px;
	text-align: center;
	z-index: 20;
	margin-top: 15px;
}

#selfintro{
	/*-webkit-border-radius: 11px;
  	-moz-border-radius: 11;
 	border-radius: 5px;
  	border: solid black 2px;*/
  	float: left;
	/*display: inline;*/
	padding: 0px;
	width: 60%;
	height: 100%;
	text-align: right;
}

p.headname{
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 40px;
	font-family: "Arial";
	color: #000000;
}

p.headinfo{
	padding-right: 10px;
	padding-top: 0px;
	font-size: 15px;
	font-family: "Lucida Console";
	color: grey;
}
a:visited,a:link{
	color: #000000;
}
a:active, a:hover{
	color: #ff502b;
}

#profilephoto{
/*	-webkit-border-radius: 11px;
  	-moz-border-radius: 11;
 	border-radius: 5px;
  	border: solid black 2px;*/
  	float: right;
	/*display: inline;*/
	padding: 0px;
	width: 35%;
	height: 100%;
}
img{
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 8px;
}
#tag{
	/*-webkit-border-radius: 11px;
  	-moz-border-radius: 11;
 	border-radius: 5px;
  	border: solid black 2px;*/
	width: 100%;
	height: 35px;
	margin-top: 20px;
}

.tagdiv{
	display: inline-block;
	height: 35px;
	line-height: 35px;
	width: 150px;
	margin: 0px;
	float: left;
	/*background-color: #b5e853;*/
	border-radius: 3px;
	/*opacity: 0.3;*/
	text-align: left;
	font-size: 20px;
	color:grey;
	font-family: "Lucida Console";
}
span{
	margin: auto;
}

#gamespan{
/*	-webkit-border-radius: 11px;
  	-moz-border-radius: 11;
 	border-radius: 5px;
  	border: solid black 2px;*/
	width: 100%;
	height:auto!important;
	height: 200px;
	text-align: center;
	min-height:200px;
	margin-top: 20px;
	word-wrap:break-word; overflow:hidden;

}

ul.presentitem{
	float: none;
	list-style: none;
	margin: 0;
	padding: 0px;
	width: 100%;
	height: auto;
	position: relative;
	vertical-align: middle;
	text-align: center;
	left: auto;
	top: auto;
	right: auto;
	bottom: auto;
}
ul.presentitem li{
	margin: 0;
	padding: 2px;
	float: left;
	position: relative;
	width: 300px;
	height: 240px;
	vertical-align: middle;
}
.itemlabel{
	display: inline-block;
	z-index: 30;
	width: 297px;
	height: 40px;
	line-height: 20px;
	border: 0px solid #ddd;
	float: bottom;
	margin-top: 198px;
	position: relative;
	color: rgb(157, 157, 157);
	text-align: center;
	font-family: "Lucida Console";
	background-color: rgba(19, 19, 19, 0.6);
}
.itemlabelsmall{
	display: inline-block;
	z-index: 30;
	width: 297px;
	height: 20px;
	line-height: 20px;
	border: 0px solid #ddd;
	float: bottom;
	margin-top: 218px;
	position: relative;
	color: rgb(157, 157, 157);
	text-align: center;
	font-family: "Lucida Console";
	background-color: rgba(19, 19, 19, 0.6);
}
ul.presentitem li img {
	width: 295px;
	height: 235px;
	border: 0px solid #ddd;
	padding: 3px;
	position: absolute;
	left: 0;
	top: -1px;
	-ms-interpolation-mode: bicubic;
	float: left;
	z-index: 20;
}
p.labelline1{
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 17px;
	font-family: "Lucida Console";
}
p.labelline2{
	margin-top: 0px;
	font-size: 14px;
	font-family: "Lucida Console";
}
/*ul.presentitem li img.hover {
	margin-top:15px;
	background:url(./img/thumb_bg.png) no-repeat center center;
	border: none;
}*/



